name: Basic CI

on:
  pull_request:
    branches:
      - main

jobs:
  template-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "Customize CI based on project stack"
